*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:#0f172a;

}

.background{

position:absolute;

width:100%;

height:100%;

background:

linear-gradient(135deg,#2563eb,#06b6d4,#7c3aed);

background-size:300%;

animation:bg 12s infinite;

}

@keyframes bg{

0%{
background-position:left;
}

50%{
background-position:right;
}

100%{
background-position:left;
}

}

.upload-card{

position:relative;

z-index:10;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

padding:50px;

border-radius:25px;

text-align:center;

box-shadow:0 25px 50px rgba(0,0,0,.4);

color:white;

}

.icon{

font-size:70px;

margin-bottom:15px;

}

.upload-box{

margin:30px 0;

}

.form-control{

height:55px;

border-radius:12px;

}

.upload-btn{

width:100%;

height:55px;

border:none;

border-radius:12px;

font-size:18px;

font-weight:600;

background:linear-gradient(90deg,#2563eb,#06b6d4);

color:white;

transition:.4s;

}

.upload-btn:hover{

transform:translateY(-4px);

box-shadow:0 20px 30px rgba(37,99,235,.5);

}

.drop-area{

display:block;

padding:40px;

border:3px dashed #6ee7ff;

border-radius:20px;

cursor:pointer;

transition:.4s;

background:rgba(255,255,255,.08);

}

.drop-area:hover{

border-color:white;

background:rgba(255,255,255,.15);

transform:scale(1.02);

}

.upload-icon{

font-size:65px;

margin-bottom:10px;

}

#fileName{

margin-top:15px;

font-weight:bold;

color:#fff;

}

.progress{

height:12px;

border-radius:20px;

overflow:hidden;

background:#ffffff33;

}

.progress-bar{

background:linear-gradient(90deg,#00e5ff,#00ff99);

transition:.4s;

}